<div class="gamez-menu">
  <div class="game-selector">
    <a href="/hangman">
      <h3>Hangman</h3>
      <div class="game-selector-imageframe">
        <img src="/images/hangman_screenshot.png" alt="hangman">
      </div>
    </a>
  </div>
  <div class="game-selector">
    <a href="/tictactoe/new">
      <h3>Tic-Tac-Toe</h3>
      <div class="game-selector-imageframe">
        <img src="/images/tictactoe_screenshot.png" alt="tictactoe">
      </div>
    </a>
  </div>

</div>