body {
  margin: 0;
  background-color: lightgrey;
}

.content-container {
  text-align: center;
}

#header-username {
  display: inline-block;
}

.main-navbar {
  margin: 0;
  text-align: center;
  background-color: #16a085;
}

.main-navbar ul {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.main-navbar li {
  display: inline-block;
  margin: 0 10px;
}

.main-navbar a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #16a085;
  padding: 5px;
}

.main-navbar a:hover {
  border-bottom: 2px solid white;
}

.main-navbar input[type='submit'] {
  margin: 0;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  background: none;
  border: none;
  border-bottom: 2px solid #16a085;
}

.main-navbar input[type='submit']:hover {
  border-bottom: 2px solid white;  
}

.main-navbar input[type='submit']:focus {
  outline: none;
}

.gamez-menu {
  padding-top: 40px;
}

.game-selector {
  display: inline-block;
  margin: 0 20px;
  background-color: #1abc9c;
  border: 3px solid #1abc9c;
  border-radius: 5px;
}

.game-selector:hover {
  border-color: white;
}

.game-selector h3 {
  margin: 0;
  margin-top: 15px;
}

.game-selector a {
  color: white;
  text-decoration: none;
}

.game-selector img {
  width: 200px;
  border: 2px solid black;
  vertical-align: middle;
}

.game-selector-imageframe {
  height: 250px;
  width: 250px;
  line-height: 250px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  margin: 15px;
}

/*.gamez-menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color:  #1abc9c;
  border: 2px solid #1abc9c;
  border-radius: 5px;
}

.gamez-menu a:hover {
  border: 2px solid white;
}*/

/********* hangman stuff ***********/

.hangman-container {
  text-align: center;
  padding-top: 30px;
}

.hangman-col-1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 85px;
  margin-right: 20px;
  padding: 10px;
}

.hangman-container img {
  display: inline-block;
  margin: 0;
}

.hangman-word-display {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: .5em;
}

.hangman-form input[type="text"] {
  font-size: 1.45em;
  text-align: center;
}

.hangman-form input[type="text"]:focus {
  outline: none;
}

.hangman-submit {
  color: white;
  background-color:  #1abc9c;
  border: 2px solid #1abc9c;
  padding: 5px;
  vertical-align: top;
  margin-left: 10px;
}

.game-result-navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.game-result-navbar li {
  display: inline-block;
  margin: 0 10px;
}

.game-result-navbar a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color:  #1abc9c;
  border: 2px solid #1abc9c;
  padding: 5px;
}

.game-result-navbar a:hover {
  border: 2px solid white;
}

/******* tic-tac-toe stuff *******/
.tictactoe-container {
  text-align: center;
  height: 95vh;
  padding-top: 30px;
  color: white;
  background-color: black;
}

.tictactoe-container h3 {
  color: white;
}

.tictactoe-game-board {
  /*  background-color: blue;*/
}

.tictactoe-space {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  margin: 5px 2px;
  background-color: grey;
  border: 5px solid grey;
}

.tictactoe-game-board p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 3.25em;
  letter-spacing: 0;
  word-spacing: 0;
  color: black;
  font-weight: bold;
}

.hidden p {
  visibility: hidden;
}





