<div class="hangman-container">

  <div class="hangman-col-1">
    <h3 class="hangman-word-display"><%= @game.display_word %></h3>

    <form action="/hangman/<%= @game.id %>/guess" method="post" class="hangman-form">
      <input type="text" name="guess" class="hangman-guess" autofocus="autofocus" size="1">
      <input type="submit" value="Guess" class="hangman-submit">
    </form>
  </div>
  <img src="/images/hangman/hangman_<%= @game.tries %>.png" alt="hangman image" class="hangman-img">
</div>