<div class="tictactoe-container">

  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  <div class="tictactoe-space"></div>
  
</div>