<div class="tictactoe-container">
  <h2>Game Id: <%= @game.id %></h2>
  <div class="tictactoe-game-board">
    <div class="tictactoe-row">
      <div class="tictactoe-space"><p>0</p></div>
      <div class="tictactoe-space"><p>1</p></div>
      <div class="tictactoe-space"><p>2</p></div>
    </div>
    <div class="tictactoe-row">
      <div class="tictactoe-space"><p>3</p></div>
      <div class="tictactoe-space"><p>4</p></div>
      <div class="tictactoe-space"><p>5</p></div>
    </div>
    <div class="tictactoe-row">
      <div class="tictactoe-space"><p>6</p></div>
      <div class="tictactoe-space"><p>7</p></div>
      <div class="tictactoe-space"><p>8</p></div>
    </div>
  </div>
  
</div>