<h2><%= current_user.username %>'s In-Progress Tictactoe Games</h2>

<a href="/tictactoe/new">Create New Game!</a>

<% if !@plays.empty? %>
<ul>
  <% @plays.each do |play| %>
    <% if !play.tictactoe_game.game_completed %>
    <li>
      <a href="/tictactoe/<%= play.tictactoe_game_id %>"><%= play.tictactoe_game.matchup %></a>
    </li>
    <% end %>
  <% end %>
</ul>
<% end %>
