<h2>Login to play:</h2>

<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="Enter your username..." autofocus="autofocus"></br>
  <input type="password" name="password" placeholder="Enter your password..."></br>
  <input type="submit" value="Login">
</form>