<h2>Create an account to play gamez!</h2>

<form action="/users" method="post">
  <input type="text" name="user[username]" placeholder="Enter a username..."></br>
  <input type="password" name="password" placeholder="Enter a password..."></br>
  <input type="email" name="user[email]" placeholder="Enter your email..."></br>
  <input type="submit" value="Sign Up!">
</form>